
/* 1st SECTION */


#logo 
{
    width: 12vmax;
    height: 12vmax;
    margin: 4% 0 0 10%;
    align-self: flex-start;
}

.container-button 
{
    display: inline-block;
    background: #40BDA6CC;
    padding: 1em 2em;
    margin-left: 40pt;
    border-radius: 0.35em;
    color: #ffffff;
    font-size: 1.5vh;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    cursor: pointer;
}

.container-button:hover 
{
    background: #40BDA6E6;
}

.container-button:active 
{
    background: #40BDA6;
}

/* 2nd SECTION */

.bg-light-gray 
{
    background-color: #dbdbdb;
}

#second-section > div 
{
    width: 100%;
    text-align: right;
    /* padding: 0 2%; */
}

#grafico 
{
    height: 350pt;
    width: 350pt;
    padding: 40px;
    align-self: flex-start;
}

/* 3rd SECTION */

#customer-care 
{
    height: 350pt;
    width: 450pt;
    padding: 40px;
}

/*Contenitori*/

.flex-container{
    display: flex;
    flex-flow: row;
    align-items: stretch; /* default value */
    width: 100%;
}

.flex-container > div{
    font-size: 4vh;
    width: 50%;
    margin: 4%;
    text-align: left;
}


/* RESPONSIVE */

@media (max-width: 575.98px) {
    .container-button {
        display: block;
        margin-left: 0;
    }

    .flex-container {
        flex-flow: column-reverse;
        align-items: center;
    }

    #logo {
        margin: 10% 0 0 0;
        align-self: center;
    }

    .flex-container > div {
        width: 80%;
        text-align: center;
    }

    #grafico {
        height: 250pt;
        width: 250pt;
        padding: 0;
        align-self: center;
    }

    #second-section > div {
        width: 80%;
        text-align: center;
    }

    #customer-care {
        height: auto;
        width: 250pt;
    }
}

@media (max-width: 991.98px) {
    .container-button {
        display: block;
        margin-left: 0;
    }

    .flex-container {
        flex-flow: column-reverse;
        align-items: center;
    }

    #logo {
        margin: 10% 0 0 0;
        align-self: center;
        width: 16vmax;
        height: 16vmax;;
    }

    .flex-container > div {
        width: 80%;
        text-align: center;
    }

    #grafico {
        padding: 0;
        align-self: center;
    }

    #second-section > div {
        width: 80%;
        text-align: center;
    }

    #customer-care {
        height: auto;
    }
}

@media (min-width: 3839.00px) {
    #grafico {
        height: 25vmax;
        width: 25vmax;
    }

    #customer-care {
        height: 25vmax;
        width: 30vmax;
    }
}