body {
	color: #121212;
	font-family: Verdana, Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

/* NAVBAR */

#navbar {
    display: block;
    width: 100%;
    padding: 2% 0;
    background-color: #071933;
}

#navbar-title {
    font-size: 3vh;
    color: white;
    margin-left: 2%;
}

a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
}

.navbar-button {
    display: inline-block;
    background: #04132780;
    padding: 1em 2em;
    margin-left: 40pt;
    border-radius: 0.35em;
    color: #0066CC;
    font-size: 1.5vh;
    font-weight: bold;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    animation: fromLeft 5s;
    transition: 0.2s;
}

.navbar-button:hover {
    background: #041327B3;
}

.navbar-button:active {
    background: #041327;
}

/* 1st SECTION */

.flex-container {
    display: flex;
    width: 100%;
}
  
.flex-container > div {
    font-size: 4vh;
    width: 50%;
    margin: 2%;
}

#logo {
    width: 12vmax;
    height: 12vmax;
    padding: 40px;
    align-self: flex-start;
}

.container-button {
    display: inline-block;
    background: #40BDA6CC;
    padding: 1em 2em;
    margin-left: 40pt;
    border-radius: 0.35em;
    color: #ffffff;
    font-size: 1.5vh;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    cursor: pointer;
}

.container-button:hover {
    background: #40BDA6E6;
}

.container-button:active {
    background: #40BDA6;
}

/* 2nd SECTION */

.bg-light-gray {
    background-color: #dbdbdb;
}

#second-section > div {
    width: 100%;
    text-align: right;
    /* padding: 0 2%; */
}

h3 {
    font-size: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#grafico {
    height: 350pt;
    width: 350pt;
    padding: 40px;
    align-self: flex-start;
}

/* 3rd SECTION */

#customer-care {
    height: 350pt;
    width: 450pt;
    padding: 40px;
}

/* FOOTER */

.bg-dark-gray {
    background-color: #bbbbbb;
}

#footer {
    width: 100%;
    font-size: 1.5vh;
    padding: 1% 0;
    justify-content: space-between;
    align-items: center;
}

#footer > div {
    width: 100%;
    margin: 0;
    font-size: inherit;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer > div > div {
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.social-svg {
    width: 2vmax;
}
